@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="col-md-6">
        <h2>Validation Globalization Test</h2>
        <div class="btn-group">
            <a asp-action="create" class="btn btn-default">Create a new item</a>
        </div>
    </div>
</div>
